
.b-screen {
  overflow: hidden;
  color: #FFF;
  font-weight: 100;
  background: #37474F;
  .transition(background 500ms linear);
  // .background-image(radial-gradient(ellipse at center, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 80%));

  // yellow
    // .text(#FFF176);
    // .btn(#37474F, #FFF176, #546E7A);
    // .btn-empty(#37474F, #FFF176, #546E7A);
    // .puzzle-cells(#FDD835, #FFF59D);
  
  // cyan
    // .text(#4DB6AC);
    // .btn(#37474F, #4DB6AC, #546E7A);
    // .btn-empty(#37474F, #4DB6AC, #546E7A);
    // .puzzle-cells(#009688, #80CBC4);
  
  // blue
    // .text(#4DD0E1);
    // .btn(#37474F, #4DD0E1, #546E7A);
    // .btn-empty(#37474F, #4DD0E1, #546E7A);
    // .puzzle-cells(#0097A7, #80DEEA);
  
    // .text(#29B6F6);
    // .btn(#37474F, #29B6F6, #546E7A);
    // .btn-empty(#37474F, #29B6F6, #546E7A);
    // .puzzle-cells(#0288D1, #81D4FA);
  
  // light green 
    // .text(#9CCC65);
    // .btn(#37474F, #9CCC65, #546E7A);
    // .btn-empty(#37474F, #9CCC65, #546E7A);
    // .puzzle-cells(#689F38, #AED581);
  
  // red
    // .text(#e57373);
    // .btn(#37474F, #e57373, #546E7A);
    // .btn-empty(#37474F, #e57373, #546E7A);
    // .puzzle-cells(#ef5350, #ef9a9a);
    
    // .text(#FF8A65);
    // .btn(#37474F, #FF8A65, #546E7A);
    // .btn-empty(#37474F, #FF8A65, #546E7A);
    // .puzzle-cells(#FF5722, #FFAB91);
    
  &.x3, &.x4, &.x5, &.x6, &.x7, &.x8 {
    .text(#9CCC65);
    .btn(#37474F, #9CCC65, #546E7A);
    .btn-empty(#37474F, #9CCC65, #546E7A);
    .puzzle-cells(#689F38, #AED581);
  }

/*
  &.x3 {
    .text(#FF8A65);
    .btn(#37474F, #FF8A65, #546E7A);
    .btn-empty(#37474F, #FF8A65, #546E7A);
    .puzzle-cells(#FF5722, #FFAB91);
  }
  &.x4 {
    .text(#29B6F6);
    .btn(#37474F, #29B6F6, #546E7A);
    .btn-empty(#37474F, #29B6F6, #546E7A);
    .puzzle-cells(#0288D1, #81D4FA);
  }
  &.x4 {
    .text(#9CCC65);
    .btn(#37474F, #9CCC65, #546E7A);
    .btn-empty(#37474F, #9CCC65, #546E7A);
    .puzzle-cells(#689F38, #AED581);
  }
  &.x6 {
    .text(#29B6F6);
    .btn(#37474F, #29B6F6, #546E7A);
    .btn-empty(#37474F, #29B6F6, #546E7A);
    .puzzle-cells(#0288D1, #81D4FA);
  }
  &.x7 {
    .text(#9CCC65);
    .btn(#37474F, #9CCC65, #546E7A);
    .btn-empty(#37474F, #9CCC65, #546E7A);
    .puzzle-cells(#689F38, #AED581);
  }
  &.x8 {
    .text(#29B6F6);
    .btn(#37474F, #29B6F6, #546E7A);
    .btn-empty(#37474F, #29B6F6, #546E7A);
    .puzzle-cells(#0288D1, #81D4FA);
  }
*/
}
