.b-page {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
  text-align: center;
  .box-sizing(border-box);
  .transition(transform 250ms ease-out, opacity 250ms linear);

  &.open, &.open-next, &.open-prev, &.close-next, &.close-prev {
    display: block;
  }
  &.open-next {
    .translate3d(20%, 0, 0);
    .opacity(0);
  }
  &.open-prev {
    .translate3d(-20%, 0, 0);
    .opacity(0);
  }
  &.open, &.close-next, &.close-prev {
    .translate3d(0, 0, 0);
    .opacity(1);
  }
  &.close-next.close {
    .translate3d(-20%, 0, 0);
    .opacity(0);
  }
  &.close-prev.close {
    .translate3d(20%, 0, 0);
    .opacity(0);
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
