/****************
 *   BOOTSTRAP
 ****************/
/* VARIABLES */
/**
 * VARIABLES
 * Переменные верстки
 */
/* HELP-FUNCTIONS */
/* CUSTOM FUNCTIONS */
/* NORMALIZE + DEFAULT */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/**
/******************
 *   MAIN STYLES
 ******************/
/* DEFAULT STYLES */
/**
 * DEFAULT
 * Основные стили "по умолчанию"
 */
html,
body {
  height: 100%;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 62.5%;
  background: #000;
}
body {
  width: 100%;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  -webkit-user-drag: none;
}
a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
a:active,
button:active {
  -webkit-transform: scale3d(0.98, 0.98, 1);
}
#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #37474f url(../img/loading.png) center center no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/**
 * FONTS
 * Все подключаемые шрифты
 */
.b-screen {
  overflow: hidden;
  color: #FFF;
  font-weight: 100;
  background: #37474F;
  -webkit-transition: background 500ms linear;
  -moz-transition: background 500ms linear;
  -o-transition: background 500ms linear;
  transition: background 500ms linear;
  /*
  &.x3 {
    .text(#FF8A65);
    .btn(#37474F, #FF8A65, #546E7A);
    .btn-empty(#37474F, #FF8A65, #546E7A);
    .puzzle-cells(#FF5722, #FFAB91);
  }
  &.x4 {
    .text(#29B6F6);
    .btn(#37474F, #29B6F6, #546E7A);
    .btn-empty(#37474F, #29B6F6, #546E7A);
    .puzzle-cells(#0288D1, #81D4FA);
  }
  &.x4 {
    .text(#9CCC65);
    .btn(#37474F, #9CCC65, #546E7A);
    .btn-empty(#37474F, #9CCC65, #546E7A);
    .puzzle-cells(#689F38, #AED581);
  }
  &.x6 {
    .text(#29B6F6);
    .btn(#37474F, #29B6F6, #546E7A);
    .btn-empty(#37474F, #29B6F6, #546E7A);
    .puzzle-cells(#0288D1, #81D4FA);
  }
  &.x7 {
    .text(#9CCC65);
    .btn(#37474F, #9CCC65, #546E7A);
    .btn-empty(#37474F, #9CCC65, #546E7A);
    .puzzle-cells(#689F38, #AED581);
  }
  &.x8 {
    .text(#29B6F6);
    .btn(#37474F, #29B6F6, #546E7A);
    .btn-empty(#37474F, #29B6F6, #546E7A);
    .puzzle-cells(#0288D1, #81D4FA);
  }
*/
}
.b-screen.x3,
.b-screen.x4,
.b-screen.x5,
.b-screen.x6,
.b-screen.x7,
.b-screen.x8 {
  color: #9ccc65;
}
.b-screen.x3 a,
.b-screen.x4 a,
.b-screen.x5 a,
.b-screen.x6 a,
.b-screen.x7 a,
.b-screen.x8 a,
.b-screen.x3 a:link,
.b-screen.x4 a:link,
.b-screen.x5 a:link,
.b-screen.x6 a:link,
.b-screen.x7 a:link,
.b-screen.x8 a:link,
.b-screen.x3 a:hover,
.b-screen.x4 a:hover,
.b-screen.x5 a:hover,
.b-screen.x6 a:hover,
.b-screen.x7 a:hover,
.b-screen.x8 a:hover,
.b-screen.x3 a:visited,
.b-screen.x4 a:visited,
.b-screen.x5 a:visited,
.b-screen.x6 a:visited,
.b-screen.x7 a:visited,
.b-screen.x8 a:visited,
.b-screen.x3 a *,
.b-screen.x4 a *,
.b-screen.x5 a *,
.b-screen.x6 a *,
.b-screen.x7 a *,
.b-screen.x8 a * {
  color: #9ccc65;
}
.b-screen.x3,
.b-screen.x4,
.b-screen.x5,
.b-screen.x6,
.b-screen.x7,
.b-screen.x8,
.b-screen.x3 a,
.b-screen.x4 a,
.b-screen.x5 a,
.b-screen.x6 a,
.b-screen.x7 a,
.b-screen.x8 a {
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  transition: color 250ms linear;
}
.b-screen.x3 .btn,
.b-screen.x4 .btn,
.b-screen.x5 .btn,
.b-screen.x6 .btn,
.b-screen.x7 .btn,
.b-screen.x8 .btn,
.b-screen.x3 .btn:link,
.b-screen.x4 .btn:link,
.b-screen.x5 .btn:link,
.b-screen.x6 .btn:link,
.b-screen.x7 .btn:link,
.b-screen.x8 .btn:link,
.b-screen.x3 .btn:hover,
.b-screen.x4 .btn:hover,
.b-screen.x5 .btn:hover,
.b-screen.x6 .btn:hover,
.b-screen.x7 .btn:hover,
.b-screen.x8 .btn:hover,
.b-screen.x3 .btn:visited,
.b-screen.x4 .btn:visited,
.b-screen.x5 .btn:visited,
.b-screen.x6 .btn:visited,
.b-screen.x7 .btn:visited,
.b-screen.x8 .btn:visited,
.b-screen.x3 .btn *,
.b-screen.x4 .btn *,
.b-screen.x5 .btn *,
.b-screen.x6 .btn *,
.b-screen.x7 .btn *,
.b-screen.x8 .btn * {
  text-decoration: none;
  color: #37474f;
}
.b-screen.x3 .btn,
.b-screen.x4 .btn,
.b-screen.x5 .btn,
.b-screen.x6 .btn,
.b-screen.x7 .btn,
.b-screen.x8 .btn,
.b-screen.x3 .btn:link,
.b-screen.x4 .btn:link,
.b-screen.x5 .btn:link,
.b-screen.x6 .btn:link,
.b-screen.x7 .btn:link,
.b-screen.x8 .btn:link,
.b-screen.x3 .btn:active,
.b-screen.x4 .btn:active,
.b-screen.x5 .btn:active,
.b-screen.x6 .btn:active,
.b-screen.x7 .btn:active,
.b-screen.x8 .btn:active,
.b-screen.x3 .btn:visited,
.b-screen.x4 .btn:visited,
.b-screen.x5 .btn:visited,
.b-screen.x6 .btn:visited,
.b-screen.x7 .btn:visited,
.b-screen.x8 .btn:visited,
.b-screen.x3 .btn:hover,
.b-screen.x4 .btn:hover,
.b-screen.x5 .btn:hover,
.b-screen.x6 .btn:hover,
.b-screen.x7 .btn:hover,
.b-screen.x8 .btn:hover {
  background: #9ccc65;
}
.b-screen.x3 .btn.disabled,
.b-screen.x4 .btn.disabled,
.b-screen.x5 .btn.disabled,
.b-screen.x6 .btn.disabled,
.b-screen.x7 .btn.disabled,
.b-screen.x8 .btn.disabled {
  background: #546e7a !important;
}
.b-screen.x3 .btn.disabled,
.b-screen.x4 .btn.disabled,
.b-screen.x5 .btn.disabled,
.b-screen.x6 .btn.disabled,
.b-screen.x7 .btn.disabled,
.b-screen.x8 .btn.disabled,
.b-screen.x3 .btn.disabled:link,
.b-screen.x4 .btn.disabled:link,
.b-screen.x5 .btn.disabled:link,
.b-screen.x6 .btn.disabled:link,
.b-screen.x7 .btn.disabled:link,
.b-screen.x8 .btn.disabled:link,
.b-screen.x3 .btn.disabled:hover,
.b-screen.x4 .btn.disabled:hover,
.b-screen.x5 .btn.disabled:hover,
.b-screen.x6 .btn.disabled:hover,
.b-screen.x7 .btn.disabled:hover,
.b-screen.x8 .btn.disabled:hover,
.b-screen.x3 .btn.disabled:visited,
.b-screen.x4 .btn.disabled:visited,
.b-screen.x5 .btn.disabled:visited,
.b-screen.x6 .btn.disabled:visited,
.b-screen.x7 .btn.disabled:visited,
.b-screen.x8 .btn.disabled:visited,
.b-screen.x3 .btn.disabled *,
.b-screen.x4 .btn.disabled *,
.b-screen.x5 .btn.disabled *,
.b-screen.x6 .btn.disabled *,
.b-screen.x7 .btn.disabled *,
.b-screen.x8 .btn.disabled * {
  color: #37474f !important;
}
.b-screen.x3 .btn,
.b-screen.x4 .btn,
.b-screen.x5 .btn,
.b-screen.x6 .btn,
.b-screen.x7 .btn,
.b-screen.x8 .btn {
  -webkit-transition: color 250ms linear, background 250ms linear;
  -moz-transition: color 250ms linear, background 250ms linear;
  -o-transition: color 250ms linear, background 250ms linear;
  transition: color 250ms linear, background 250ms linear;
}
.b-screen.x3 .btn-e,
.b-screen.x4 .btn-e,
.b-screen.x5 .btn-e,
.b-screen.x6 .btn-e,
.b-screen.x7 .btn-e,
.b-screen.x8 .btn-e,
.b-screen.x3 .btn-e:link,
.b-screen.x4 .btn-e:link,
.b-screen.x5 .btn-e:link,
.b-screen.x6 .btn-e:link,
.b-screen.x7 .btn-e:link,
.b-screen.x8 .btn-e:link,
.b-screen.x3 .btn-e:hover,
.b-screen.x4 .btn-e:hover,
.b-screen.x5 .btn-e:hover,
.b-screen.x6 .btn-e:hover,
.b-screen.x7 .btn-e:hover,
.b-screen.x8 .btn-e:hover,
.b-screen.x3 .btn-e:visited,
.b-screen.x4 .btn-e:visited,
.b-screen.x5 .btn-e:visited,
.b-screen.x6 .btn-e:visited,
.b-screen.x7 .btn-e:visited,
.b-screen.x8 .btn-e:visited,
.b-screen.x3 .btn-e *,
.b-screen.x4 .btn-e *,
.b-screen.x5 .btn-e *,
.b-screen.x6 .btn-e *,
.b-screen.x7 .btn-e *,
.b-screen.x8 .btn-e * {
  text-decoration: none;
  color: #9ccc65;
}
.b-screen.x3 .btn-e,
.b-screen.x4 .btn-e,
.b-screen.x5 .btn-e,
.b-screen.x6 .btn-e,
.b-screen.x7 .btn-e,
.b-screen.x8 .btn-e,
.b-screen.x3 .btn-e:link,
.b-screen.x4 .btn-e:link,
.b-screen.x5 .btn-e:link,
.b-screen.x6 .btn-e:link,
.b-screen.x7 .btn-e:link,
.b-screen.x8 .btn-e:link,
.b-screen.x3 .btn-e:active,
.b-screen.x4 .btn-e:active,
.b-screen.x5 .btn-e:active,
.b-screen.x6 .btn-e:active,
.b-screen.x7 .btn-e:active,
.b-screen.x8 .btn-e:active,
.b-screen.x3 .btn-e:hover,
.b-screen.x4 .btn-e:hover,
.b-screen.x5 .btn-e:hover,
.b-screen.x6 .btn-e:hover,
.b-screen.x7 .btn-e:hover,
.b-screen.x8 .btn-e:hover,
.b-screen.x3 .btn-e:visited,
.b-screen.x4 .btn-e:visited,
.b-screen.x5 .btn-e:visited,
.b-screen.x6 .btn-e:visited,
.b-screen.x7 .btn-e:visited,
.b-screen.x8 .btn-e:visited {
  border-color: #9ccc65;
}
.b-screen.x3 .btn-e.disabled,
.b-screen.x4 .btn-e.disabled,
.b-screen.x5 .btn-e.disabled,
.b-screen.x6 .btn-e.disabled,
.b-screen.x7 .btn-e.disabled,
.b-screen.x8 .btn-e.disabled {
  border-color: #546e7a !important;
}
.b-screen.x3 .btn-e.disabled,
.b-screen.x4 .btn-e.disabled,
.b-screen.x5 .btn-e.disabled,
.b-screen.x6 .btn-e.disabled,
.b-screen.x7 .btn-e.disabled,
.b-screen.x8 .btn-e.disabled,
.b-screen.x3 .btn-e.disabled:link,
.b-screen.x4 .btn-e.disabled:link,
.b-screen.x5 .btn-e.disabled:link,
.b-screen.x6 .btn-e.disabled:link,
.b-screen.x7 .btn-e.disabled:link,
.b-screen.x8 .btn-e.disabled:link,
.b-screen.x3 .btn-e.disabled:hover,
.b-screen.x4 .btn-e.disabled:hover,
.b-screen.x5 .btn-e.disabled:hover,
.b-screen.x6 .btn-e.disabled:hover,
.b-screen.x7 .btn-e.disabled:hover,
.b-screen.x8 .btn-e.disabled:hover,
.b-screen.x3 .btn-e.disabled:visited,
.b-screen.x4 .btn-e.disabled:visited,
.b-screen.x5 .btn-e.disabled:visited,
.b-screen.x6 .btn-e.disabled:visited,
.b-screen.x7 .btn-e.disabled:visited,
.b-screen.x8 .btn-e.disabled:visited,
.b-screen.x3 .btn-e.disabled *,
.b-screen.x4 .btn-e.disabled *,
.b-screen.x5 .btn-e.disabled *,
.b-screen.x6 .btn-e.disabled *,
.b-screen.x7 .btn-e.disabled *,
.b-screen.x8 .btn-e.disabled * {
  color: #546e7a !important;
  background: none !important;
}
.b-screen.x3 .btn-e,
.b-screen.x4 .btn-e,
.b-screen.x5 .btn-e,
.b-screen.x6 .btn-e,
.b-screen.x7 .btn-e,
.b-screen.x8 .btn-e {
  -webkit-transition: color 250ms linear, border-color 250ms linear;
  -moz-transition: color 250ms linear, border-color 250ms linear;
  -o-transition: color 250ms linear, border-color 250ms linear;
  transition: color 250ms linear, border-color 250ms linear;
}
.b-screen.x3 .cell-f,
.b-screen.x4 .cell-f,
.b-screen.x5 .cell-f,
.b-screen.x6 .cell-f,
.b-screen.x7 .cell-f,
.b-screen.x8 .cell-f {
  background: #689f38;
}
.b-screen.x3 .cell-e,
.b-screen.x4 .cell-e,
.b-screen.x5 .cell-e,
.b-screen.x6 .cell-e,
.b-screen.x7 .cell-e,
.b-screen.x8 .cell-e {
  background: #aed581;
}
.b-page {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 250ms ease-out, opacity 250ms linear;
  -moz-transition: -moz-transform 250ms ease-out, opacity 250ms linear;
  -o-transition: -o-transform 250ms ease-out, opacity 250ms linear;
  transition: -webkit-transform 250ms ease-out,-moz-transform 250ms ease-out,-o-transform 250ms ease-out,transform 250ms ease-out, opacity 250ms linear;
}
.b-page.open,
.b-page.open-next,
.b-page.open-prev,
.b-page.close-next,
.b-page.close-prev {
  display: block;
}
.b-page.open-next {
  -webkit-transform: translate3d(20%, 0, 0);
  -moz-transform: translate3d(20%, 0, 0);
  -o-transform: translate3d(20%, 0, 0);
  -ms-transform: translate3d(20%, 0, 0);
  transform: translate3d(20%, 0, 0);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.b-page.open-prev {
  -webkit-transform: translate3d(-20%, 0, 0);
  -moz-transform: translate3d(-20%, 0, 0);
  -o-transform: translate3d(-20%, 0, 0);
  -ms-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.b-page.open,
.b-page.close-next,
.b-page.close-prev {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.b-page.close-next.close {
  -webkit-transform: translate3d(-20%, 0, 0);
  -moz-transform: translate3d(-20%, 0, 0);
  -o-transform: translate3d(-20%, 0, 0);
  -ms-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.b-page.close-prev.close {
  -webkit-transform: translate3d(20%, 0, 0);
  -moz-transform: translate3d(20%, 0, 0);
  -o-transform: translate3d(20%, 0, 0);
  -ms-transform: translate3d(20%, 0, 0);
  transform: translate3d(20%, 0, 0);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.b-page__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.b-main__title {
  margin: 7.0rem 0 0;
  line-height: 5.0rem;
  font-size: 4.0rem;
  font-weight: 100;
}
.b-main__subtitle {
  margin: 7.0rem 0 0;
  line-height: 4.0rem;
  font-size: 4.0rem;
  font-weight: 100;
}
.b-main__subtitle_m40 {
  margin-top: 4.0rem;
}
.b-main__description {
  display: block;
  margin: 2.0rem 0 1.0rem;
  line-height: 1.8rem;
  font-size: 1.8rem;
  font-style: normal;
}
.b-main__games {
  font-size: 0;
  line-height: 0;
  margin-right: -1px;
}
.b-main__cell {
  display: inline-block;
  width: 50%;
}
.b-main__item {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0.1rem 0.1rem 0 0;
  padding: 1.0rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-main__item-title {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  margin-top: -1.5rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.b-main__item i {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 3.6rem;
  font-size: 2.4rem;
}
@media (max-height: 500px) and (orientation: portrait) {
  .with-ad .b-main__title,
  .with-ad .b-main__subtitle {
    margin-top: 3.0rem;
  }
}
.b-topbar {
  height: 3.0rem;
  padding: 0 0.5rem;
  line-height: 3.0rem;
  font-size: 1.8rem;
  font-weight: 100;
}
.b-topbar__answer,
.b-topbar__score,
.b-topbar__pause,
.b-topbar__back {
  display: block;
  min-width: 3.0rem;
  text-align: center;
}
.b-topbar__answer,
.b-topbar__back {
  float: left;
}
.b-topbar__score {
  width: 15.0rem;
  margin: 0 auto;
  font-size: 2.2rem;
}
.b-topbar__answer {
  font-size: 2.0rem;
}
.b-topbar__pause {
  float: right;
}
.b-topbar__back .fa,
.b-topbar__pause .fa {
  font-size: 1.6rem;
  line-height: 3.0rem;
  vertical-align: top;
}
.b-question {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  margin-bottom: -1px;
  color: #FFF;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.b-question__answer {
  display: inline-block;
  position: relative;
}
.b-question__answer-mask {
  visibility: hidden;
  color: rgba(0, 0, 0, 0);
}
.b-question__answer-user {
  position: absolute;
  left: 0;
  top: 0;
}
.b-puzzle {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.b-puzzle__area {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}
.b-puzzle__pad,
.b-puzzle__canvas {
  margin-right: -5px;
}
.b-puzzle__pad {
  z-index: 0;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.b-puzzle__canvas {
  z-index: 5;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.b-puzzle__touch {
  width: 100%;
  z-index: 20;
}
.b-puzzle__startup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.0rem;
  z-index: 50;
  font-size: 6.0rem;
  line-height: 6.0rem;
}
.b-puzzle__scroll_x,
.b-puzzle__scroll_y {
  display: block;
  position: absolute;
  visibility: hidden;
}
.b-puzzle__scroll_x {
  width: 300% !important;
  left: -100%;
}
.b-puzzle__scroll_y {
  height: 300% !important;
  top: -100%;
}
.b-puzzle__cell {
  display: block;
  float: left;
  position: relative;
  margin: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-puzzle__area.highlight .b-puzzle__cell_fill {
  background: #FFF;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.b-status {
  position: relative;
  margin-top: 3.0rem;
  padding: 1.0rem 0;
  overflow: hidden;
  -webkit-transition: margin 250ms linear;
  -moz-transition: margin 250ms linear;
  -o-transition: margin 250ms linear;
  transition: margin 250ms linear;
}
.b-status__row {
  height: 4.0rem;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.b-status__cell {
  position: relative;
  display: inline-block;
  height: 4.0rem;
  font-size: 4.0rem;
  line-height: 0;
  margin: 0 0.5rem;
}
.b-status__cell .fa:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-height: 500px) and (orientation: portrait) {
  .with-ad .b-status {
    margin-top: 1.0rem;
  }
}
.b-levels {
  margin: 0 4% 2.0rem;
  font-size: 0;
  line-height: 0;
}
.b-levels__cell {
  display: inline-block;
  padding: 4%;
  width: 33%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-levels__item {
  position: relative;
  display: inline-block;
  border: 0.2rem solid #FFF;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-levels__item-title {
  position: absolute;
  top: 18%;
  display: block;
  width: 100%;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.b-levels__item-stat {
  position: absolute;
  left: 0;
  bottom: 18%;
  display: block;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.b-pause {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.b-pause__cell {
  display: inline-block;
  width: 100%;
  margin-top: 0.2rem;
}
.b-pause__btn {
  position: relative;
  display: block;
  border: 0.2rem solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-pause__btn-text {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  margin-top: -1rem;
  font-size: 2.0rem;
  line-height: 2.0rem;
}
.b-pause__icon {
  display: block;
}
.b-pause__icon .fa {
  line-height: 12.0rem;
  font-size: 12.0rem;
}
.b-pause__icon_medium .fa {
  font-size: 8.0rem;
}
.b-tutorial__pin {
  display: none;
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 100px;
  width: 26px;
  height: 26px;
  background: #FFF;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  behavior: url(/static/js/vendor/PIE.htc);
  -webkit-transition: opacity 150ms linear;
  -moz-transition: opacity 150ms linear;
  -o-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}
.b-tutorial__pin:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  display: block;
  border: 2px solid #FFF;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  behavior: url(/static/js/vendor/PIE.htc);
}
.b-tutorial__pin.game-1_1 {
  top: 16%;
  left: 50%;
  margin: -13px 0 0 -13px;
  -webkit-animation: tutorial-1-1 2s linear infinite;
  -moz-animation: tutorial-1-1 2s linear infinite;
  -o-animation: tutorial-1-1 2s linear infinite;
  animation: tutorial-1-1 2s linear infinite;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes tutorial-1-1{ 0%{ top:16%;opacity:1; } 20%{ opacity:0; } 35%{ opacity:1; } 50%{  top: 16%; } 80%{ top:50%;opacity:1; } 90%{ top:50%;opacity:0; } 100%{ top:50%;opacity:0; }}
@-moz-keyframes tutorial-1-1{ 0%{ top:16%;opacity:1; } 20%{ opacity:0; } 35%{ opacity:1; } 50%{  top: 16%; } 80%{ top:50%;opacity:1; } 90%{ top:50%;opacity:0; } 100%{ top:50%;opacity:0; }}
@-o-keyframes tutorial-1-1{ 0%{ top:16%;opacity:1; } 20%{ opacity:0; } 35%{ opacity:1; } 50%{  top: 16%; } 80%{ top:50%;opacity:1; } 90%{ top:50%;opacity:0; } 100%{ top:50%;opacity:0; }}
@keyframes tutorial-1-1{ 0%{ top:16%;opacity:1; } 20%{ opacity:0; } 35%{ opacity:1; } 50%{  top: 16%; } 80%{ top:50%;opacity:1; } 90%{ top:50%;opacity:0; } 100%{ top:50%;opacity:0; };
}
.b-figure {
  display: block;
  width: 100%;
  height: auto;
}
/* RESTYLE PLUGINS */
/**
 * RESTYLE PLUGINS
 * Перекрываем стили любых подключаемых плагинов
 */
