
.b-pause {
  text-align: center;
  font-size: 0;
  line-height: 0;

  &__cell {
    display: inline-block;
    width: 100%;
    margin-top: 0.2rem;
  }

  &__btn {
    position: relative;
    display: block;
    border: 0.2rem solid transparent;
    .box-sizing(border-box);
    
    &-text {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      margin-top: -1.0rem;
      font-size: 2.0rem;
      line-height: 2.0rem;
    }
  }

  &__icon {
    display: block;

    & .fa {
      line-height: 12.0rem;
      font-size: 12.0rem;
    }

    &_medium .fa {
      font-size: 8.0rem;
    }
  }
}
