/* CUSTOM FUNCTIONS */

.text(@color) {
  color: @color;
  a, a:link, a:hover, a:visited, a * {
    color: @color;
  }
  &, a {
    .transition(color 250ms linear);
  }
}

.btn(@text, @active, @disabled) {
  .btn, .btn:link, .btn:hover, .btn:visited, .btn * {
    text-decoration: none;
    color: @text;
  }
  .btn, .btn:link, .btn:active, .btn:visited, .btn:hover {
    background: @active;
  }
  .btn.disabled {
    background: @disabled !important;
    &, &:link, &:hover, &:visited, & * {
      color: @text !important;
    }
  }
  .btn {
    .transition(color 250ms linear, background 250ms linear);
  }
}

.btn-empty(@text, @active, @disabled) {
  .btn-e, .btn-e:link, .btn-e:hover, .btn-e:visited, .btn-e * {
    text-decoration: none;
    color: @active;
  }
  .btn-e, .btn-e:link, .btn-e:active, .btn-e:hover, .btn-e:visited {
    border-color: @active;
  }
  .btn-e.disabled {
    border-color: @disabled !important;
    &, &:link, &:hover, &:visited, & * {
      color: @disabled !important;
      background: none !important;
    }
  }
  .btn-e {
    .transition(color 250ms linear, border-color 250ms linear);
  }
}

.puzzle-cells(@fill, @empty) {
  .cell-f {
    background: @fill;
  }
  .cell-e {
    background: @empty;
  }
}