
.b-tutorial {

  &__pin {
    display: none;

    position: absolute;
    z-index: 10;
    top: 100px;
    left: 100px;
    width: 26px;
    height: 26px;
    background: #FFF;
    .opacity(0);
    .border-radius(50%);
    .transition(opacity 150ms linear);

    &:before {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      bottom: -4px;
      right: -4px;
      // width: 100%;
      display: block;
      border: 2px solid #FFF;
      .border-radius(50%);
    }

    &.game-1_1 {
      top: 16%;
      left: 50%;
      margin: -13px 0 0 -13px;
      .animation(tutorial-1-1 2s linear infinite);
    }
  }
}
.keyframes(~'tutorial-1-1, 0%{ top:16%;opacity:1; } 20%{ opacity:0; } 35%{ opacity:1; } 50%{  top: 16%; } 80%{ top:50%;opacity:1; } 90%{ top:50%;opacity:0; } 100%{ top:50%;opacity:0; }');
