.ad-block {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  .transition(top 250ms linear);
}

.with-ad {
  #game, #level {
    padding-top: 50px;
  }
  .ad-block {
    top: 0;
  }
}