/**
 * DEFAULT
 * Основные стили "по умолчанию"
 */
html, body {
  height: 100%;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 62.5%;
  background: #000;
}
body {
  width: 100%;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // -webkit-tap-highlight-color: transparent; /* For some Androids */
}

* {
  -webkit-user-drag: none;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
}

a:active, button:active {
  -webkit-transform: scale3d(0.98, 0.98, 1);
}

#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #37474F url(../img/loading.png) center center no-repeat;
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}