/**
 * VARIABLES
 * Переменные верстки
 */

// @screenBg: #37474F;     // 800 Grey

// @mainColor: #9CCC65;    // 400

// @btnText: #37474F;      // 800
// @btnActive: #9CCC65;    // 400
// @btnDisable: #546E7A;   // 600 Grey
// @btnDisableText: #546E7A; // 600 Grey

// @puzzleEmpty: #AED581;  // 300
// @puzzleFill: #689F38;   // 700
// @puzzleBorder: #33691E; // 900


// // @screenBg: #37474F;     // 800 Grey

// // @mainColor: #29B6F6;    // 400

// // @btnText: #37474F;      // 800
// // @btnActive: #29B6F6;    // 400
// // @btnDisable: #546E7A;   // 600 Grey

// // @puzzleEmpty: #81D4FA;  // 300
// // @puzzleFill: #0288D1;   // 700
// // @puzzleBorder: #33691E; // 900


// @colorMain: #1B5E20;
// @colorBold: rgba(0,0,0,0.6);
// @colorLight: rgba(0,0,0,0.4);
// @colorBg: rgba(0,0,0,0.3);
// @colorBgLight: rgba(0,0,0,0.1);