
.b-levels {
  margin: 0 4% 2.0rem;
  font-size: 0;
  line-height: 0;

  &__cell {
    display: inline-block;
    padding: 4%;
    width: 33%;
    text-align: center;
    .box-sizing(border-box);
  }

  &__item {
    position: relative;
    display: inline-block;
    border: 0.2rem solid #FFF;
    overflow: hidden;
    width: 100%;
    // .border-radius(50%);
    .box-sizing(border-box);
  }

  &__item-title {
    position: absolute;
    top: 18%;
    display: block;
    width: 100%;
    font-size: 2.4rem;
    line-height: 2.4rem;
  }

  &__item-stat {
    position: absolute;
    left: 0;
    bottom: 18%;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}
