
.b-topbar {
  height: 3.0rem;
  padding: 0 0.5rem;
  line-height: 3.0rem;
  font-size: 1.8rem;
  font-weight: 100;

  &__answer, &__score, &__pause, &__back {
    display: block;
    min-width: 3.0rem;
    text-align: center;
  }
  &__answer, &__back {
    float: left;
  }
  &__score {
    width: 15.0rem;
    margin: 0 auto;
    font-size: 2.2rem;
  }
  &__answer {
    font-size: 2.0rem;
  }
  &__pause {
    float: right;
  }
  &__back, &__pause {
    .fa {
      font-size: 1.6rem;
      line-height: 3.0rem;
      vertical-align: top;
    }
  }
}

// @media (min-height: 560px) and (min-width: 360px) and (orientation: portrait) {
//   .b-topbar {
//     &__score {
//       font-size: 26px;
//     }
//     &__answer {
//       font-size: 20px;
//     }
//   }
// }
