
.b-status {
  position: relative;
  margin-top: 3.0rem;
  padding: 1.0rem 0;
  overflow: hidden;
  .transition(margin 250ms linear);
  
  &__row {
    height: 4.0rem;
    .opacity(0);
    .transition(opacity 100ms linear);
  }

  &__cell {
    position: relative;
    display: inline-block;
    height: 4.0rem;
    font-size: 4.0rem;
    line-height: 0;
    margin: 0 0.5rem;
    
    & .fa:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media (max-height: 500px) and (orientation: portrait) {
  .with-ad .b-status {
    margin-top: 1.0rem;
  }
}
