
.b-puzzle {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;

  &__area {
    position: absolute;
    top: 0;
    left: 0;
    .box-sizing(border-box);
    .transition(opacity 250ms linear);
  }

  &__pad,
  &__canvas {
    margin-right: -5px;
  }

  &__pad {
    z-index: 0;
    .opacity(1);
  }
  &__canvas {
    z-index: 5;
    .opacity(1);
  }
  &__touch {
    width: 100%;
    z-index: 20;
  }

  &__startup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.0rem;
    z-index: 50;
    font-size: 6.0rem;
    line-height: 6.0rem;
  }

  &__scroll_x, &__scroll_y {
    display: block;
    position: absolute;
    visibility: hidden;
  }
  &__scroll_x {
    width: 300% !important;
    left: -100%;
  }
  &__scroll_y {
    height: 300% !important;
    top: -100%;
  }

  &__cell {
    display: block;
    // display: inline-block;
    float: left;
    position: relative;
    margin: 1px;
    .box-sizing(border-box);
  }

  &__area.highlight {
    .b-puzzle__cell_fill {
      background: #FFF;
      .transition(background-color 250ms linear);
    }
  }
}
