
.b-main {

  &__title {
    margin: 7.0rem 0 0;
    line-height: 5.0rem;
    font-size: 4.0rem;
    font-weight: 100;
  }

  &__subtitle {
    margin: 7.0rem 0 0;
    line-height: 4.0rem;
    font-size: 4.0rem;
    font-weight: 100;

    &_m40 {
      margin-top: 4.0rem;
    }
  }

  &__description {
    display: block;
    margin: 2.0rem 0 1.0rem;
    line-height: 1.8rem;
    font-size: 1.8rem;
    font-style: normal;
  }

  &__games {
    font-size: 0;
    line-height: 0;
    margin-right: -1px;
  }

  &__cell {
    display: inline-block;
    width: 50%;
  }

  &__item {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0.1rem 0.1rem 0 0;
    padding: 1.0rem;
    .box-sizing(border-box);

    &-title {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      margin-top: -1.5rem;
      font-size: 2.4rem;
      line-height: 2.4rem;
      text-transform: capitalize;
    }

    i {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      width: 3.6rem;
      font-size: 2.4rem;
    }
  }
}

@media (max-height: 500px) and (orientation: portrait) {
  .with-ad .b-main {
    &__title, &__subtitle {
      margin-top: 3.0rem;
    }
  }
}
