<h1 class="b-main__subtitle">ERROR</h1>
<p class="b-main__description">&nbsp;</p>
<span class="b-pause__icon b-pause__icon_medium"><i class="fa fa-exclamation-triangle"></i></span>
<div class="b-page__bottom">
  <div class="b-pause">
   <span class="b-pause__cell">
      <a href="#/" class="btn b-pause__btn">
        <img src="<%=img_35_8%>" class="b-figure" />
        <span class="b-pause__btn-text">Exit&nbsp;to&nbsp;menu</span>
      </a>
    </span>
  </div>
</div>
