<h1 class="b-main__subtitle">Pause</h1>
<p class="b-main__description">&nbsp;</p>
<span class="b-pause__icon b-pause__icon_medium"><i class="fa fa-pause"></i></span>
<div class="b-page__bottom">
  <div class="b-pause">
    <span class="b-pause__cell">
      <a href="#/game/<%=game_id%>" class="btn b-pause__btn">
        <img src="<%=img_35_8%>" class="b-figure" />
        <span class="b-pause__btn-text">Resume</span>
      </a>
    </span>
    <span class="b-pause__cell">
      <a href="#/level/<%=level_id%>" class="btn b-pause__btn" id="pause-exit-btn">
        <img src="<%=img_35_8%>" class="b-figure" />
        <span class="b-pause__btn-text">Exit</span>
      </a>
    </span>
  </div>
</div>
