<% if (is_complete) { %>
  <h1 class="b-main__subtitle">Excellent</h1>
  <p class="b-main__description"><%=description%>&nbsp;</p>
  <span class="b-pause__icon"><i class="fa fa-thumbs-o-up"></i></span>
  <div class="b-page__bottom">
    <div class="b-pause">
      <span class="b-pause__cell">
        <% if (next_is_main) { %>
          <a href="#/" class="btn b-pause__btn">
            <img src="<%=img_35_8%>" class="b-figure" />
            <span class="b-pause__btn-text">New&nbsp;level&nbsp;is&nbsp;open</span>
          </a>
        <% } else { %>
          <a href="#/game/<%=next_game_id%>" class="btn b-pause__btn">
            <img src="<%=img_35_8%>" class="b-figure" />
            <span class="b-pause__btn-text">Next&nbsp;game</span>
          </a>
        <% } %>
      </span>
      <span class="b-pause__cell">
        <a href="#/level/<%=level_id%>" class="btn b-pause__btn">
          <img src="<%=img_35_8%>" class="b-figure" />
          <span class="b-pause__btn-text">Exit</span>
        </a>
      </span>
    </div>
  </div>
<% } else { %>
  <h1 class="b-main__subtitle">Ooops</h1>
  <p class="b-main__description"><%=description%>&nbsp;</p>
  <span class="b-pause__icon"><i class="fa fa-frown-o"></i></span>
  <div class="b-page__bottom">
    <div class="b-pause">
      <span class="b-pause__cell">
        <a href="#/game/<%=next_game_id%>" class="btn b-pause__btn">
          <img src="<%=img_35_8%>" class="b-figure" />
          <span class="b-pause__btn-text">Try&nbsp;again</span>
        </a>
      </span>
      <span class="b-pause__cell">
        <a href="#/level/<%=level_id%>" class="btn b-pause__btn">
          <img src="<%=img_35_8%>" class="b-figure" />
          <span class="b-pause__btn-text">Exit</span>
        </a>
      </span>
    </div>
  </div>
<% } %>
