<div class="b-topbar">
  <a href="javascript:void(0)" class="b-topbar__answer" id="puzzle-toggle-canvas"><i class="fa fa-question"></i></a>
  <a href="#/game/<%=game_id%>/pause" class="b-topbar__pause"><i class="fa fa-pause"></i></a>
  <span class="b-topbar__score"><%=level_title%> &mdash; <%=game_title%></span>
</div>

<div class="b-status">
  <div class="b-status__row" id="puzzle-status">
    <span class="b-status__cell"><i class="fa fa-star-o"></i><i class="fa fa-star" id="puzzle-award-gold"></i></span>
    <span class="b-status__cell"><i class="fa fa-star-o"></i><i class="fa fa-star" id="puzzle-award-silver"></i></span>
    <span class="b-status__cell"><i class="fa fa-star-o"></i><i class="fa fa-star" id="puzzle-award-bronze"></i></span>
  </div>
  <div class="b-puzzle__startup" id="puzzle-startup"></div>
</div>
<style type="text/css">
  .b-puzzle {margin: 0 <%=field_size.offset%>px <%=field_size.offset%>px; }
  .b-puzzle, .b-puzzle__area 
    {height: <%=field_size.field%>px; }
  .b-puzzle__cell, .b-puzzle__scroll_x, .b-puzzle__scroll_y 
    {width: <%=field_size.cell%>px; height: <%=field_size.cell%>px;}
</style>
<style type="text/css" id="puzzle-style"></style>
<div class="b-page__bottom">
  <div class="b-puzzle">
    <div class="b-puzzle__scroll_x" id="puzzle-scroll-x">
      <% _.forEach(scroll_size, function() { %><span class="b-puzzle__cell"></span><% }); %>
    </div>
    <div class="b-puzzle__scroll_y" id="puzzle-scroll-y">
      <% _.forEach(scroll_size, function() { %><span class="b-puzzle__cell"></span><% }); %>
    </div>
    <div class="b-puzzle__area b-puzzle__touch" id="puzzle-touch"></div>
    <div class="b-tutorial__pin" id="puzzle-tutorial"></div>
    <div class="b-puzzle__area b-puzzle__canvas" id="puzzle-canvas">
      <% _.forEach(puzzle, function(item) { %>
        <span class="b-puzzle__cell <%= item===1 ? 'cell-f' : 'cell-e' %>"></span>
      <% }); %>
    </div>
    <div class="b-puzzle__area b-puzzle__pad" id="puzzle-pad">
      <% _.forEach(puzzle_shuffle, function(item) { %>
        <span class="b-puzzle__cell <%= item===1 ? 'cell-f' : 'cell-e' %>"></span>
      <% }); %>
    </div>
  </div>
</div>
