<div class="b-topbar">
  <a class="b-topbar__back" href="#/"><i class="fa fa-bars"></i></a>
</div>
<h1 class="b-main__subtitle b-main__subtitle_m40"><%=title%></h1>
<div class="b-page__bottom">
  <div class="b-levels">
    <% _.forEach(games, function(game) { %>
      <span class="b-levels__cell">
        <a href="<%=game.is_open?'#/game/'+game.id:'javascript:void(0)'%>"
           class="btn-e b-levels__item
           <%=!game.is_open?'disabled':''%>
           <%=game.is_complete?'b-levels__item_finished':''%>"
        >
          <img src="<%=img_1_1%>" class="b-figure" />
          <span class="b-levels__item-title"><%=game.title%></span>
          <span class="b-levels__item-stat">
            <% if (game.is_open) { %>
              <% if (game.award === 'g') { %>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              <% } else if(game.award === 's') { %>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              <% } else if(game.award === 'b') { %>
                <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              <% } else { %>
                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              <% } %>
            <% } else { %>
              <i class="fa fa-lock"></i>
            <% } %>
          </span>
        </a>
      </span>
    <% }); %>
  </div>
</div>
