<h1 class="b-main__title">Rubik's Puzzle</h1>
<div class="b-page__bottom">
  <div class="b-main__games">
    <% _.forEach(levels, function(level) { %>
      <span class="b-main__cell">
        <a href="<%=level.is_open?'#/level/'+level.type:'javascript:void(0)'%>"
          data-type="<%=level.type%>"
          class="btn js-level-btn b-main__item b-main__item_<%=level.type%>
          <%=!level.is_open?'disabled':''%>">
          <img src="<%=img_16_9%>" class="b-figure" />
          <span class="b-main__item-title"><%=level.title%></span>
          <span class="b-main__item-subtitle"><%=level.subtitle%></span>
          <% if (level.is_complete) { %>
            <i class="fa fa-check"></i>
          <% } %>
          <% if (!level.is_open) { %>
            <i class="fa fa-lock"></i>
          <% } %>
        </a>
      </span>
    <% }); %>
  </div>
</div>
